/* general text formatting */


body {
   font-family: "Roboto", Verdana, Arial, sans-serif;
   font-size: 100%;
 background-color: #ECEFF1;
}

section {
   background-color: white;
   margin: 1em 4em 1em 4em;
   border: solid 1pt black;

}
section h3 {
  color: white;
  padding: 0.75rem;
  background-color: #263238;
}

.status {
    border-radius: 0.25rem;
    padding: 3px;
    color: white;

}
.status-processing {
    background-color:    #E65100;
}
.status-shipped {
    background-color:   #4CAF50;
}
.status-pending {
    background-color:    #03A9F4;
}



/* table formatting */


table caption {
	background-color: #607D8B;
	color: white;
  padding: 0.75rem;
  margin: 1em 0em 1em 0em;

}

table {
  width: 90%;
  height: auto;
  margin: 0px auto;

}

table tr {
  text-align: left;
}

table td {
  padding-top: 8px;
  padding-bottom: 8px;
}

progress {
  height: 30px;
}


/* form formatting */


legend {
	background-color: #607D8B;
	color: white;
  padding: 0.75rem;
  width: 98%;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 1em;
}

form {
  width: 90%;
  height: auto;
  margin: 1em auto;
}

label {
  font-weight: bold;
}

input[type=submit] {
   background-color: #673AB7;
    color: white;
    border-style: none;

}
input[type=submit]:hover {
    background-color: #6200EA;
}
